/*
 * Estilos de tu proyecto
 */
 a{
 	text-decoration: none;
 	display: inline-block;
 	float: right;
 	margin:0px 10px;
 	margin-top: 20px;
 	color: #fff;
 	}
 	
  header p{
  margin-left: 20px;
 	display: inline-block;
 	font-size: 20px;
 	color: #fff;
 		
 }
 header{
 	background-color: #673f9e;
 }
 .start{
 	background-color: #39dfaf;
 }
 .start img{
 	margin-top:60px;
 	width: 200px;
 	height: 200px;
 }
 .start p{
 	color: #fff;
 	font-size: 20px;
 }
 #p1{
 	font-size: 30px;
 }
.portafolios div{
	display: inline-block;
	margin: 10px 20px;
}
.portafolios img{
	width: 350px;
	height: 300px;
}
.portafolios p{
	font-size: 30px;
}
.about div{
	height:40%;
	width:40%;
	display: inline-block;
	margin-left: 50px;
	text-align: justify;
	color: #fff;
}
.about {
	background-color: #89ebf8;
}
 input{
 	margin-left: 300px;
 	margin-top: 15px;
 	width: 50%;
	display: inline-block;
}
#enviar{
	margin-top: 15px;
 	margin-left: 300px;
	display: inline-block;
}
.location div{
	display: inline-block;
	margin: 30px 30px 0px 150px;
}
.location{
	background-color:#89ebf8;
}